$blueColor: #1583ff;

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  margin-top: 5%;
  &:after {
    content: " ";
    display: block;
    width: 25px;
    height: 25px;
    margin: 8px;
    border-radius: 50%;
    border: 3px solid $blueColor;
    border-color: $blueColor transparent $blueColor transparent;
    animation: spinner 1.2s linear infinite;
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
