#content {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: #2196f3;

    .box-gif {
      background-color: rgba(255, 255, 255, 0.8);
      border: 1px solid black;
      text-align: center;
      margin: 0.5rem;
      border-radius: 3px;
      width: 100%;
      max-width: 225px;
      min-height: 225px;
      cursor: pointer;
    }
}

@media (max-width: 992px) {
  #content {
    grid-template-columns: auto auto auto;
  }
}
@media (max-width: 768px) {
  #content {
    grid-template-columns: auto auto;
  }
}
@media (max-width: 576px) {
  #content {
    grid-template-columns: auto;
  }
}
